@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&display=swap');

table {
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: #FFFFFF 2px solid;
    text-align: left;
    padding: 8px; 
  }

  .addbutton {
    text-decoration: none;
    color: #FFFFFF;
    border: green 2px solid;
    border-radius: 15px;
    background-color: green;
    padding: 1px 10px 1px 10px;
  }

  .addbutton:hover {
    color: #FFFFFF;
  }
  

  tr{
    background-color: #E38B29;
  }

  tr:nth-child(even) {
    background-color: #E38B29;
    border: #1e1e1e 1px solid;
  }
  
  .head{
    text-align: center;
  }

 h1 {
    font-family: 'Poppins', sans-serif;
    color: #E38B29;
    text-align: center;
  }

.btn {
  font-family: 'Poppins', sans-serif;
}

nav form button .text-decoration-none {
  color: #FFFFFF;
}